<!-- <nav id="baseNavContainerId" class="navbar navbar-expand-lg float-right navbar-light">
  <a class="navbar-brand" routerLink="home">Lifestyle</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="clothing">Clothing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contactus">Contact Us</a>
      </li>

    </ul>
  </div>
</nav> -->
<div id="main-nav-hold">

  <nav class="main-nav trans-nav">

<div class="logo-btn">
  <a href="">
    <img src="../../assets/brand_icons/android-chrome-512x512.png" class="float-left logofloat" alt="">
  </a>
</div>

    <a class="nav-btn engineering-btn active" routerLink="home">Lifestyle</a>
    <a class="nav-btn engineering-btn active" routerLink="events">Events</a>
    <a class="nav-btn engineering-btn active" routerLink="clothing">Clothing</a>
    <a class="nav-btn engineering-btn active" routerLink="contactus">Contact Us</a>

    <div class="menu-btn"><a href="javascript:Kaber.showMenu();"><span></span><span></span><span></span></a></div><!-- end .menu-btn -->

  </nav><!-- end .main-nav -->

</div>
