<div class="homebg">
    <div class="color-overlay">
      <app-nav-dark-theme></app-nav-dark-theme>
      <img src="../../assets/brand_icons/android-chrome-192x192.png" class="float-left logofloat" alt="">
    <div class="gubingtext">
      <div class="container">
        <h1>GUBING LIFESTYLE<br> BRAG <span class="orange-hit">DIFFERENT</span></h1>
      </div>
    </div>
  </div>
</div>

<p class="py-5 text-center">This example creates a full page background image. Try to resize the browser
  window to see
  how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen
  sizes.</p>
